<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We are here to help with your financial emergencies!</h2>
                <hr class="light">
                <p class="text-faded">In need of some quick cash for emergency issues? Be it travelling, medical expenses, rent or any other need that cannot wait, we are at your service. All you have to do is to apply. Quick and easy!</p>
                <a href="https://github.com/Nisort/nisortpesa/blob/0c054fdb1ce4e6ab66bdf82b842f5882913639f1/img/Nisort_base.apk?raw=true" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
