<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Build on trust</h3>
                    <p class="text-muted">Our company is dedicated to protecting your privacy. No data will be shared with any other party. Personal data are also deleted completely when the customer deregister.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Instant and on mobile</h3>
                    <p class="text-muted">Once your eligibility check is complete, loan disbursement is instant on application!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Grow your limit fast</h3>
                    <p class="text-muted">Your limit increases every time you pay your previous loan. What's more, you can borrow multiple times as long as you are within your borrowing limit.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Be our ambassador</h3>
                    <p class="text-muted">Share with your friends to win yourself a bonus when they successfully apply for a loan!</p>
                </div>
            </div>
        </div>
    </div>
</section>
